
.top-menu{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

i{
    padding-right: 10px;
}
.icon i{
    padding-right: 20px;
}

.title{
    display: flex;
    align-items: center;
}